<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <img style="width:1000px" src="../template/images/menu.jpg" alt="i1" />
        <p class="content-news">In today age of suveilance,with camera even in our homes,security professionals need to monitor an ever-increasing number of screens. In 2014 alone,245 million video surveilance cameras were installed globally, according to an IHS report. It is increasingly clear that the watchmen are having trouble watching.This is where Singapore -Based Vi Dimensions hopes to help, by identifying anomalies to alert human operators that a second look is needed. </p>
        <p class="content-news">While the security industry is already-familar with rule-based analytics, there is still a gap , according to its cofounder and chief executive officer Raymond Looi.Video analytics has been in the market for the last 10 years,but the way they have been doing it is not very efficent, using rule-based analytics.This requires you to know what you are looking for and then specify a rule , when most do not know what to look out for,he says, in a conversation with digital News Asia(DNA) in Singapore recently.We fell that there was a gap in the industry in how they applied automation to cameras and with the proliferation of surveilance cameras and vast amounts of data being generated ,we fell that this was an area in which we could differentiate ourselves ,he adds. </p>
    </body>

</html>